body {
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
        }

.header {
        height: 8em;
        padding: 3em;
        font-size: 2em;
        background-image: url("../img/fondo2.jpg");
        background-size: cover;
        background-position: center;
        text-align: center;
        color:#2a850e;
         }

.container-h2{
        font-size: 35px;
        font-style: italic;
}       

     
.header h1{
        margin: 0px;
        font-weight: 400;

         }


.products {
        width: 80%;
        margin: auto;
        color:#ff0000
        }

p {
        font-size: 20px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.products td{
        width: 50%;
        padding: 2em;
        }


.products img{
        width: 100%;
        border: solid 1px #ddd;
        }


.footer{
        height: 3em;
        line-height: 3em;
        background-color:#27a300;
        color: white;
        text-align: center;
        font-weight:900;
        font-size: 25px;
        }
            
